<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Prode2020</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginCONTROLADOR</display-name>
    <servlet-name>loginCONTROLADOR</servlet-name>
    <servlet-class>controlador.loginCONTROLADOR</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginCONTROLADOR</servlet-name>
    <url-pattern>/loginCONTROLADOR</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>indexCONTROLADOR</display-name>
    <servlet-name>indexCONTROLADOR</servlet-name>
    <servlet-class>controlador.indexCONTROLADOR</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>indexCONTROLADOR</servlet-name>
    <url-pattern>/indexCONTROLADOR</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registrarseCONTROLADOR</display-name>
    <servlet-name>registrarseCONTROLADOR</servlet-name>
    <servlet-class>controlador.registrarseCONTROLADOR</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registrarseCONTROLADOR</servlet-name>
    <url-pattern>/registrarseCONTROLADOR</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutDAO</display-name>
    <servlet-name>logoutDAO</servlet-name>
    <servlet-class>dao.logoutDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutDAO</servlet-name>
    <url-pattern>/logoutDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>complejosCONTROLADOR</display-name>
    <servlet-name>complejosCONTROLADOR</servlet-name>
    <servlet-class>controlador.complejosCONTROLADOR</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>complejosCONTROLADOR</servlet-name>
    <url-pattern>/complejosCONTROLADOR</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>canchasCONTROLADOR</display-name>
    <servlet-name>canchasCONTROLADOR</servlet-name>
    <servlet-class>controlador.canchasCONTROLADOR</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>canchasCONTROLADOR</servlet-name>
    <url-pattern>/canchasCONTROLADOR</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>reservasCONTROLADOR</display-name>
    <servlet-name>reservasCONTROLADOR</servlet-name>
    <servlet-class>controlador.reservasCONTROLADOR</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reservasCONTROLADOR</servlet-name>
    <url-pattern>/reservasCONTROLADOR</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailSendingServlet</display-name>
    <servlet-name>EmailSendingServlet</servlet-name>
    <servlet-class>controlador.EmailSendingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailSendingServlet</servlet-name>
    <url-pattern>/EmailSendingServlet</url-pattern>
  </servlet-mapping>
      <!-- SMTP settings -->
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
 
    <context-param>
        <param-name>port</param-name>
        <param-value>puerto</param-value>
    </context-param>
 
    <context-param>
        <param-name>user</param-name>
        <param-value>correo@dominio.com</param-value>
    </context-param>
 
    <context-param>
        <param-name>pass</param-name>
        <param-value>password</param-value>
    </context-param>
 
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
